<div class="container-fluid header">
    <div class="row search-bar">
            <div class="col-md-2">
                <h2 class="app-name">DoktorApps</h2>
                <h6 class="slogan">İyi olacak hastanın doktor ayağına gelir</h6>
            </div>
            <div class="col-md-8">
                <input type="text" placeholder="Search..." class="form-control search-input" />
            </div>
            <div class="col-md-2 right-box">
                <ul>
                    <li><i class="fas fa-bell"></i></li>
                    <li><i class="fas fa-flag"></i></li>
                    <li>
                        <i class="fas fa-cog"></i>
                </li>
                </ul>
            </div>
    </div>
    <div class="row profile-row">
        <div class="col-md-2">
            <div class="row">
                <div>
                    <div class="mini-profile"></div>
                </div>
                <div class="profile-info">
                    <span>Merhaba</span>
                    <span>Dr. Cemile Uygun</span>
                    <span>
                        <ul>
                            <li><i class="fas fa-envelope"></i></li>
                            <li><i class="fas fa-user-md"></i></li>
                            <li><i class="fas fa-sign-out-alt"></i></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row report-header">
            <h6>Günlük Rapor</h6>
    </div>
    <div class="row report-box-div">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4 report-box">
                    <div class="waiting-call">
                        <h4>5</h4>
                        <p>
                            <!-- <i class="fas fa-phone"></i> -->
                            Bekleyen
                        </p>
                    </div>
                    <span class="tooltip-text for-waiting-call">Bekleyen Görüşme</span>
                </div>
                <div class="col-md-4 report-box">
                    <div class="end-call">
                        <h4>3</h4>
                        <p>
                            <!-- <i class="fas fa-phone-slash"></i> -->
                            Görüşme
                        </p>
                    </div>
                    <span class="tooltip-text for-end-call">Biten Görüşme</span>
                </div>
                <div class="col-md-4 report-box">
                    <div class="wallet">
                        <h4>₺150<span>.00</span></h4>
                        <p>
                            <!-- <i class="fas fa-wallet"></i> -->
                            Gelir
                        </p>
                    </div>
                    <span class="tooltip-text for-wallet">Gelir</span>
                </div>
            </div>
        </div>
    </div>
</div>