
    <div class="login-background"></div>
<div class="theme-cyan login-page authentication">
<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><span>DoktorApps</span>Giriş <span class="msg">Oturum açmak için giriş yapın</span></h1>
        <div class="col-md-12">
            <form id="sign_in" method="POST">
                
                <div class="input-group input-group-div"> <span class="input-group-addon span-class"> <i class="fas fa-user"></i> </span>
                    <div class="form-line input-div">
                        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                    </div>
                </div>
                <div class="input-group input-group-div"> <span class="input-group-addon span-class"> <i class="fas fa-lock"></i> </span>
                    <div class="form-line input-div">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div>
                    <div class="">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink checkbox-class">
                        <label for="rememberme">Beni Hatırla</label>
                    </div>
                    <div class="text-center sign-buttons">
                        <a href="/dashboard" class="btn btn-info">Giriş Yap</a>
                        <a href="sign-up.html" class="btn btn-outline-info">Kayıt Ol</a>
                    </div>
                    <div class="text-center"> <a class="forgot-password" href="forgot-password.html">Şifremi Unuttum?</a></div>
                </div>
            </form>
        </div>
    </div>    
</div>
<div class="theme-bg"></div>
</div>