@font-face {
    font-family: Fenix-Regular;
    src: url("../../fonts/Fenix/Fenix-Regular.ttf") format("opentype");
}

@font-face {
    font-family: BalooThambi2-SemiBold;
    src: url("../../fonts/Baloo_Thambi_2/BalooThambi2-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: BalooThambi2-Medium;
    src: url("../../fonts/Baloo_Thambi_2/BalooThambi2-Medium.ttf") format("opentype");
}

@font-face {
    font-family: PalanquinDark-Bold;
    src: url("../../fonts/Palanquin_Dark/PalanquinDark-Bold.ttf") format("opentype");
}

@font-face {
    font-family: PalanquinDark-Medium;
    src: url("../../fonts/Palanquin_Dark/PalanquinDark-Medium.ttf") format("opentype");
}

* {
    font-family: 'BalooThambi2-Medium';
  }