.block-header {
  margin-bottom: 15px;
  padding: 10px 0;
  min-height: 90vh;
  h2 {
    margin: 0 !important;
    color: #30373e !important;
    font-weight: 600;
    font-size: 20px;
  }
  .text-muted {
    color: #636c72 !important;
  }
}
