/* You can add global styles to this file, and also import other style files */
@import './assets/font/fonts';
@import '../node_modules/chart.js/dist/Chart.min.css';

body {
    background-color: #30373e;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

.color-yellow{color:#fdd835}
.color-green{color: #9ccc65}
.color-orange{color: #ffcc80}
.color-blue{color: #80cbc4}
.color-red{color: #ef9a9a}

.background-yellow{background-color:#fdd835}
.background-green{background-color: #9ccc65}
.background-orange{background-color: #ffcc80}
.background-blue{background-color: #80cbc4}
.background-red{background-color: #ef9a9a}